html {
  height: 100%;
}

body {
	font-family: Ubuntu, sans-serif;
  font-weight: 300;
  position: relative;
  margin: 0;
  min-height: 100%;
}

a {
  color: red;
}

a:hover,
a:active,
a:focus {
  color: red;
  text-decoration: underline;
}

p {
  color: rgb(126, 130, 132);
}

.btn-lovely {
  border-radius: 1px;
  border-color: rgb(32, 21, 71);
  color: rgb(32, 21, 71);
  font-weight: bold;
  background-color: white;
}

.btn-lovely:hover {
  border-color: #FFFFFF;
  color: #FFFFFF;
  background-color: rgb(32, 21, 71);
  -moz-transition: all .3s ease-in;
  -webkit-transition: all .3s ease-in;
  -o-transition: all .3s ease-in;
  transition: all .3s ease-in;
}


.brand-logo {
	height: 48px;
	margin-top: -12px;
}

.navbar-blue .navbar-brand,
.navbar-blue .navbar-nav > li > a {
  color: #FFFFFF;
  line-height: 50px;
}

.navbar-blue .navbar-nav > li > a:hover,
.navbar-blue .navbar-nav > li > a:active,
.navbar-blue .navbar-nav > li > a:focus,
.navbar-blue .navbar-nav > .open > a,
.navbar-blue .navbar-nav > .open > a:hover,
.navbar-blue .navbar-nav > .open > a:focus {
  color: white;
  background-color: rgba(0, 0, 0, 0.3);
  text-decoration: none;
}

.navbar-blue .navbar-brand:hover,
.navbar-blue .navbar-brand:active,
.navbar-blue .navbar-brand:focus {
  color: yellow;
}

.icons-reverse {
	height: 24px;
	margin: -1px 3px -1px 0;
}

.vertical-spacer {
	height: 50px;
}

.vertical-spacer-55 {
  height: 55px;
}

.vertical-spacer-lg {
	height: 50%;
}

#wrapper {
  background-image: url('../images/background-tighter.png');
  height: 800px;
  background-size: cover;
  padding-top: 5%;
  text-align: center;
  margin-top: 47px;
}

.lead {
	background: rgba(0, 0, 0, .4);
	border-radius: 5px;
	padding: 15px;
  color: white;
}

.lead h1 {
	font-family: Pacifico;
	font-size: 92px;
	text-shadow: 0 0 20px rgba(0, 0, 0, .8);
}

.lead h2 {
  display: inline-block;
  font-size: 24px;
  font-weight: 100;
  font-family: 'Open sans';
  /*color: yellow;*/
  font-weight: 300;
  /*text-shadow: 0 0 4px yellow;*/
}

.white {
	background-color: white;
}

.grey {
  background-color: rgb(240, 240, 240);
}

.blue {
	background-color: #25AAE1;
	color: white;
}

.text-left {
	text-align: left;
}

#homepage-logo {
	opacity: 1;
	height: 300px;
}

.text-center {
	text-align: center;
}

.social {
	font-size: 24px;
	color: white;
}

.box {
	margin: 20% 25%;
}

.footer {
	font-size: 20px;
}

.font-size-20 {
  font-size: 20px;
}

.footer p {
  color: white;
}

.logo {
  font-size: 28px;
  font-family: 'Pacifico';
  padding: 7px 0;
}

.no-margin-btm {
  margin-bottom: 0;
}

.footer {
	background-color: #25AAE1;
	padding: 15px 0 5px 0;
	color: white;
	box-shadow: 0 0 5px rgba(0, 0, 0, .4);
}

.explain {
	color: #25AAE1;
  /*background-color: white;*/
}

.modal-content {
	box-shadow: none;
  border-top-left-radius: 1px;
  border-top-right-radius: 1px;
  border-bottom-left-radius: 1px;
  border-bottom-right-radius: 1px;
}

.padding-btn {
	padding: 15px 0;
}

.padding-7 {
	padding: 7px;
}

.margin-top-5 {
  margin-top: 5px;
}

#description {
	display: block;
	float: bottom;
  font-size: 14px;
}

.blue a,
.lead a,
.footer a {
	color: white;
	text-decoration: none;
}

.slim-fit {
  width: 315px;
}


.blue a:hover,
.lead a:hover,
.footer a:hover {
	color: yellow;
  text-decoration: none;
}

@media screen and (max-width: 992px) {
  .lead h1 {
    font-size: 72px;
  }
  .lead h2 {
    font-size: 18px;
  }
}

@media screen and (max-width: 480px) {
  .lead h1 {
    font-size: 52px;
  }
  .lead h2 {
    font-size: 14px;
  }
  .small {
	font-size: 10px !important;
  }
  .smaller {
	font-size: 8px !important;
  }
  .mini-font {
  	font-size: 5px !important;
  }
  .padding-none-mobile {
  	padding: none !important;
  }

}



@media screen and (max-height: 600px) {
  .lead h2 {
    font-size: 14px;
  }
  .disappear {
  	display: none;
  }
  .small {
	font-size: 10px;
  }
  .disappear-mobile {
  	display: none;
  }
  .appear-mobile {
  	display: table-footer-group !important;
  }
}

.appear-mobile {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #25AAE1;
  text-align: center;
  color: white;
  display: none;
}

@media screen and (min-height: 600px) {
}

.small {
  font-size: 14px;
}

.text-content {
  color: rgb(126, 130, 132);
  background-size: cover;
}

.text-small-left {
  text-align: left;
  font-size: 12px;
}

.text-small-left a {
  color: red;

}

.close-cross {
  color: white;
  float: right;
  padding: 0 4px;
  margin-top: 8px;
}

.modal-close {
  color: #EEEEEE !important;
  float: right;
  font-size: 25px;
  padding: 5px 0;
  margin-top: -18px;
}

.modal-close:hover {
  color: #BEBEBE !important;
  text-decoration: none;
}

.facebook-btn {
  background-color: #3b5998;
  color: white;
  width: 100%;
  border-radius: 2px;
}

.facebook-btn:hover {
  color: white;
  font-weight: bold;
}

.form-control {
  border-radius: 2px;
  box-shadow: none;
}

.form-control:focus {
  box-shadow: none;
}

.sidenav {
  min-width: 200px;
  list-style: none;
  line-height: 2.3em;
  font-size: 16px;
  padding: 0 20px 20px 40px;
  border-radius: 2px;
  background-color: rgb(240, 240, 240)
}

.sidenav a {
  color: rgb(126, 130, 132);
}

.sidenav a:hover {
  text-decoration: none;
  font-weight: 900;
}

.padding-top-15 {
  padding-top: 15px;
}

.padding-top-20 {
  padding-top: 20px;
}

.padding-btm-15 {
  padding-bottom: 15px;
}

.margin-top-15 {
  margin-top: 15px;
}

.margin-top-10 {
  margin-top: 10px;
}

.margin-left-15 {
  margin-left: 15px;
}

.margin-right-15 {
  margin-right: 15px;
}

#newsletter {
  border: 1px solid blue;
}

#newsletter:focus {
  border: 1px solid red;
}

.input-group-addon {
  border-radius: 2px;
}

#view-profile-button {
  width: 100%;
}

.panel-title {
  color: rgb(126, 130, 132);
  font-size: 16px;
}

.panel-title a:hover {
  color: rgb(126, 130, 132);
  text-decoration: none;
  font-weight: bold;
}

.panel-heading,
.panel-body {
  font-size: 14px;
}

.panel-group .panel{
  border-radius:2px;
}

.annotations {
  padding-top: 5px;
  font-size: 13px;
}

.deep {
  min-height: 1000px;
}

.edit-profile-pic {

  background-color: lightgrey;
}

.box-shadow {
  box-shadow: 0 0 5px #ddd;
}

.float-btm {
  float: bottom;
}

.height-cover {
  height: 100%;
}

#browse-pic-button, #take-pic-button {
  margin-top: 69px;
}

#autocomplete {
  position: relative;
  z-index: 10;
}

#background {
  margin-top: 47px;
  padding-top: 15px;
  height: 100%;
  min-height: 1200px;
}

.total-width {
  width: 100%;
}

.frame {
  border: 1px solid #ddd;
  border-radius: 2px;
  box-shadow: 0 0 5px #ddd;
}

.frame-header {
  background-color: white;
  line-height: 100%;
}

.padding-left-7 {
  padding-left: 7px;
}

.img-little {
  width: 100px;
}